.popup_div_background{background-color: #1C1C1C;  height: 100%; left: 0; position: fixed; top: 0;  width: 100%;  z-index: 200;}
.popup_div_style{ z-index:300; padding:10px ; display:block;  background-color:white;  position:fixed; border : 1px solid black;}
.render_div_style{z-index:400; height:90%; width: 90%;}